header {
  height: 40px;
  margin: 0 auto;
  padding: 20px 0;
  text-align: center;
  position: sticky;
  top: 0;
  background-color: white;
  color: white;
}

header svg {
  display: block;
  width: 100%; height: 100%;
  position: sticky;
  top: 0;
  background-color: white;
}
